In [7]:
import pandas as pd

df = pd.read_csv('sales_march.csv')  # ファイル名は実際のものに置き換え
print(df.columns)  # 列名一覧を表示

Index(['Product title', 'Product vendor', 'Product type', 'Net items sold',
       'Gross sales', 'Discounts', 'Returns', 'Net sales', 'Taxes',
       'Total sales'],
      dtype='object')

In [8]:
# 平均単価を計算
df['Average_price_per_unit'] = df['Net sales'] / df['Net items sold']

# Revenue を計算（今回は Net items sold × 平均単価 = Net sales と同じ）
df['Revenue'] = df['Net items sold'] * df['Average_price_per_unit']

# 確認
df[['Product title','Net items sold','Net sales','Average_price_per_unit','Revenue']].head()

,Product title,Net items sold,Net sales,Average_price_per_unit,Revenue
0,Waifu Kuji ($29.99),9,269.91,29.99,269.91
1,Shonen JUMP Kuji (29.99),6,179.94,29.99,179.94
2,Ichiban Kuji - Hololive vol.5,9,153.00,17.00,153.00
3,Sakamoto Days - Sakamoto Taro - Bandai Vibrati...,3,76.50,25.50,76.50
4,JoJo's Bizarre Adventure - Joseph Joestar Acti...,1,76.50,76.50,76.50

In [10]:
import pandas as pd

In [50]:
df=pd.read_csv("sales_march_anonymized.csv")

print(df.head())

In [51]:
print(df.head())

                                       Product title Product type  \
0                                Waifu Kuji ($29.99)         Kuji
1                           Shonen JUMP Kuji (29.99)         Kuji
2                      Ichiban Kuji - Hololive vol.5         Kuji
3  Sakamoto Days - Sakamoto Taro - Bandai Vibrati...       Figure
4  JoJo's Bizarre Adventure - Joseph Joestar Acti...       Figure

   Net items sold  Gross sales  Discounts  Returns  Net sales  Taxes  \
0               9       269.91       0.00      0.0     269.91  20.88
1               6       179.94       0.00      0.0     179.94  13.92
2               9       162.00      -9.00      0.0     153.00  11.86
3               3        89.97     -13.47      0.0      76.50   5.94
4               1        89.99     -13.49      0.0      76.50   5.93

   Total sales
0       290.79
1       193.86
2       164.86
3        82.44
4        82.43

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product title   145 non-null    object
 1   Product vendor  145 non-null    object
 2   Product type    145 non-null    object
 3   Net items sold  145 non-null    int64
 4   Gross sales     145 non-null    float64
 5   Discounts       145 non-null    float64
 6   Returns         145 non-null    float64
 7   Net sales       145 non-null    float64
 8   Taxes           145 non-null    float64
 9   Total sales     145 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 11.5+ KB
None

In [21]:
print(df.describe())

       Net items sold  Gross sales   Discounts     Returns   Net sales  \
count      145.000000   145.000000  145.000000  145.000000  145.000000
mean         2.579310    30.249448   -3.757241   -0.594345   25.897862
std          2.704597    32.823625    3.223149    2.468065   31.356734
min          1.000000     1.990000  -18.880000  -10.780000    1.690000
25%          1.000000    11.980000   -4.940000    0.000000   10.580000
50%          1.000000    19.990000   -2.840000    0.000000   16.990000
75%          3.000000    37.980000   -1.490000    0.000000   30.590000
max         17.000000   269.910000    0.000000    0.000000  269.910000

            Taxes  Total sales
count  145.000000   145.000000
mean     1.973724    27.871586
std      2.430378    33.765028
min      0.000000     1.820000
25%      0.790000    11.400000
50%      1.310000    18.300000
75%      2.320000    32.970000
max     20.880000   290.790000

In [22]:
print(df.isnull().sum())

Product title     0
Product vendor    0
Product type      0
Net items sold    0
Gross sales       0
Discounts         0
Returns           0
Net sales         0
Taxes             0
Total sales       0
dtype: int64

In [23]:
print(df.dtypes)

Product title      object
Product vendor     object
Product type       object
Net items sold      int64
Gross sales       float64
Discounts         float64
Returns           float64
Net sales         float64
Taxes             float64
Total sales       float64
dtype: object

In [31]:
print(df[['Net sales','Total sales']].head())

   Net sales  Total sales
0     269.91       290.79
1     179.94       193.86
2     153.00       164.86
3      76.50        82.44
4      76.50        82.43

In [37]:
df.to_csv(("sales_march.csv"),index=False)

In [38]:
import pandas as pd

df = pd.read_csv("sales_march.csv")

# Product vendor 列を削除
df_anonymized = df.drop(columns=["Product vendor"])

df_anonymized.to_csv("sales_march_anonymized.csv", index=False)

In [40]:
df.drop(columns=["Product vendor"])

,Product title,Product type,Net items sold,Gross sales,Discounts,Returns,Net sales,Taxes,Total sales
0,Waifu Kuji ($29.99),Kuji,9,269.91,0.00,0.0,269.91,20.88,290.79
1,Shonen JUMP Kuji (29.99),Kuji,6,179.94,0.00,0.0,179.94,13.92,193.86
2,Ichiban Kuji - Hololive vol.5,Kuji,9,162.00,-9.00,0.0,153.00,11.86,164.86
3,Sakamoto Days - Sakamoto Taro - Bandai Vibrati...,Figure,3,89.97,-13.47,0.0,76.50,5.94,82.44
4,JoJo's Bizarre Adventure - Joseph Joestar Acti...,Figure,1,89.99,-13.49,0.0,76.50,5.93,82.43
...,...,...,...,...,...,...,...,...,...
140,Haikyu!! - Kirie Series Gold Foil Washi Can Ba...,Accessories,1,2.99,-0.44,0.0,2.55,0.20,2.75
141,Jujutsu Kaisen - Original Music Ver. Can Badge...,Accessories,1,2.99,-0.45,0.0,2.54,0.20,2.74
142,Project Sekai Colorful Stage! feat. Hatsune Mi...,Cards,1,2.99,-0.45,0.0,2.54,0.20,2.74
143,Jujutsu Kaisen - Acrylic Stand (Sega Lucky Kuj...,Accessories,1,2.99,-0.45,0.0,2.54,0.20,2.74
144,Jujutsu Kaisen - Trading Chibikoro Matte Can B...,Accessories,1,1.99,-0.30,0.0,1.69,0.13,1.82

In [49]:
import pandas as pd

df = pd.read_csv('sales_march_anonymized.csv')  # make sure to include the .csv extension
df.head()

,Product title,Product type,Net items sold,Gross sales,Discounts,Returns,Net sales,Taxes,Total sales
0,Waifu Kuji ($29.99),Kuji,9,269.91,0.00,0.0,269.91,20.88,290.79
1,Shonen JUMP Kuji (29.99),Kuji,6,179.94,0.00,0.0,179.94,13.92,193.86
2,Ichiban Kuji - Hololive vol.5,Kuji,9,162.00,-9.00,0.0,153.00,11.86,164.86
3,Sakamoto Days - Sakamoto Taro - Bandai Vibrati...,Figure,3,89.97,-13.47,0.0,76.50,5.94,82.44
4,JoJo's Bizarre Adventure - Joseph Joestar Acti...,Figure,1,89.99,-13.49,0.0,76.50,5.93,82.43